#judul{
	width: 100%;
	height: auto;
	float: left;
	color: black;
	font-size: 22px;
	padding-top: 50px;
	padding-left: 15px;
	padding-bottom: 30px;
}

#judul h2{
	line-height: 35px;
	border-left: 20px solid black;
	padding-left: 10px;
}


#footer{
	width: 100%;
	height: auto;
	background: grey;
	float: left;

}


.sub_footer_2 ul li{
	list-style: none;
	text-align: center;
}

.sub_footer_2 ul li a{
	text-decoration: none;
	color: black;
}

.sub_footer_2 ul li a:hover{
	color: white;
	text-decoration: underline;
}



.sub{
	width: 320px;
	border: none;
	height: 40px;
	padding: 15px;
	float: left;
	color: grey;
	text-align: center;
}

.btn_sub{
	width: 80px;
 	height: 40px;
 	border:none;
 	color: black;
 	background: green;
 	margin-left : -80px;
 	font-weight: bold;
 	font-size: 15px;
}

.sub_p{
	color: red;
	font-style: italic;
	font-size: 12px;
}